  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title">Filters</h5>
      <div class="mb-3">
        <label for="From" class="form-label">From</label>
        <input type="fromPrice" class="form-control" id="fromPrice" placeholder="300">
      </div>
      <div class="mb-3">
        <label for="To" class="form-label">To</label>
        <input type="toPrice" class="form-control" id="toPrice" placeholder="1000">
      </div>
      <button type="button" class="btn btn-warning">Filter by Price</button>
    </div>
  </div>