<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src="{{productDetails.image}}" >
    <div class="card-body">
      <hr>
        <div class="card-text">
            <strong>{{productDetails.price | currency :"INR"}}</strong>
        </div>
        <hr>
      <p class="card-text">{{productDetails.description}}</p>
      <!-- d-flex - Helps in moving the contents to left   -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" (click)="onClickOfAddCart()" class="btn btn-sm btn-outline-primary">Add To Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
        </div>
      </div>
    </div>
  </div>
